@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('assets/img/default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-shadow: 1px 1px 1px #1a191980;
}

.container h1 {
    margin-top: 60px;
    margin-left: 38%;
}

#weather-container {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1 1 1 #1a191980;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

#weather-container h1 {
    margin: 5px;
    font-size: 42px;
}

#search-container {
    padding: 15px;
    margin-top: 20px;
    text-align: center;
}

#search-container input {
    padding: 6px;
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px 0px 0px 4px;
}

#search-container button {
    margin-left: -4px;
    padding: 12px 40px;
    background-color: #18191b;
    color: white;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    border: none;
}

#search-container button:hover {
    background-color: #2c2e32
}

#weather-main {
    display: block;
    margin-bottom: 20px;
}

#weather-main div {
    display: inline-block;
}

#weather-desc-header {
    font-size: 20px;
    vertical-align: 50%;
    margin-left: 30px;
}

#temperature {
    font-size: 30px;
    vertical-align: 25%;
}

.bottom-details {
    display: block;
    font-size: 20px;
    text-align: right;
}

hr {
    border: 1px solid white;
    margin: 10px 0;
}